.image{
    width: 64%;
    height: auto;
    align-content: center;
}

.card-3{
    margin: auto;
    background-color: #AD875E;
    text-align: center;
    padding-top: 6.4%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 16px;
    height: inherit;
}
.card-2{
    margin: auto;
    background-color: #7E56C1;
    text-align: center;
    padding-top: 6.4%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 16px;
    height: inherit;
}
.card-1{
    margin: auto;
    background-color: #93C47D;
    text-align: center;
    padding-top: 6.4%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 16px;
    height: inherit;
}

.project-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.8px;
    color: white;
    text-align: center;
    padding-bottom: 8px;
    margin: 4px 0px;
}
.project-desc{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
    margin: 8px 8px;
    margin-bottom: 32px;
    color: rgb(250, 250, 250);
    line-height: 18px;

}


.highlight-item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    width: inherit;
    height: fit-content;
    box-shadow:0 0 6px rgba(0,0,0,.05);
    background: #fff;
    cursor: pointer;
    align-items: center;
    border-radius: 16px;

    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    animation-name: animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: perspective(2400px) rotateX(60deg) rotateY(8deg) rotateZ(-20deg);
    z-index: 1;

}
.highlight-item:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    animation: unset;
    margin-top: 16px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);

}
.highlight-header{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.8px;
    padding: 16px 0px;;
}
.highlights{
    padding: 0% 24%;
    margin-top: 16px;
}

.header-name{
    padding: 0% 24%;
    padding-top: 84px;
    text-align: center;
    align-items: center;

    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 60px;
}
.header-desc{
    padding: 8% 24%;
    text-align: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.header{
    margin: auto;
    padding: 16px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    border-radius: 4px;
    height: auto;

}